@use "../base/colors.scss" as *;
@use "../base/sizes.scss" as sizes;

.carrinho-container{
  display: flex;
  padding-left: 3rem;
  // background-color: white;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .all-table{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      margin: 1rem 0 1rem 0;
    }
  }

  table{
    border-collapse: collapse;
    // border: 1px solid black;
    width: 60%;
    margin: 1rem;
    height: auto;
    thead{
      tr{
        // border: 1px solid red;
        // border: 1px solid black;

        th{
          color: $cian;
          text-transform: uppercase;
          font-weight: 700;
        }
        th:nth-child(1){
          text-align: start;
          padding-left: .4rem;
        }
      }
    }
    tbody{

      tr{
        // border: 1px solid black; 

        td{
          border-top: 2px solid $dark-blue;
          // border-top: 1px solid $primary-color;
          padding: 2rem 1rem;
        }
        td:nth-child(1){
          .product-details{
            // background-color: aqua;
            display: flex;
            align-items: center;
            // padding: 1rem;
            justify-content: space-between;
            width: 37rem;
            .img-item{
              // width: 4rem;
              height: 10rem;
              object-fit: cover;
              // margin-right: 3rem;
            }
            .names-product{
              display: flex;
              flex-direction: column;
              gap: 5px;
              width: 14rem;

              span {
                // font-size: 1.2rem;
              }
              span:nth-child(1){
                color: $dark-blue;
              }
              span:nth-child(2){
                color: black;
                font-weight: bold;
              }
            }

            img:nth-child(3){
              cursor: pointer;
            }
          }
        }
        td:nth-child(2),td:nth-child(3){
          text-align: center;
        }

        td:nth-child(2){
          select{
            background-color: transparent;
            border: 1px solid $cian;
            outline: none;
            color: $cian;
            border-radius: 5px;

            option{
              background-color: $beige;
            }
          }
        }

      }
    }
  }

    .purchase{
      position: absolute;
      right: 10rem;
      top: 11rem;
      background-color: $beige;
      width: 17rem;
      padding: 1rem;
      border-radius: sizes.$radius;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: .2rem;
        // color: $bg-color;
      }
      div:nth-child(2){
        padding-top: 1rem;
        border-top: 1px solid $cian;
      }

      button{
        padding: 1rem;
        color: $cian;
        border: 1px solid $cian;
        background-color: transparent;
        text-transform: uppercase;
        border-radius: sizes.$radius;
        font-weight: bold;
        transition: all .3s;
        cursor: pointer;
      }
      button:hover{
        background-color: $cian;
        color: $beige;
      }
    }
  
}

@media (max-width: 1300px) {
  .carrinho-container{
    display: flex;
    flex-direction: column;
    .purchase{
      position: fixed;
      top: auto;
      right: auto;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

@media (max-width: 850px) {

  .carrinho-container{
  padding-left: 0;
  .all-table{
    // border: 1px solid red;
    width: 100%;
  }
    table{
      border-collapse: collapse;
      // border: 1px solid black;
      width: 100%;
      // margin: 1rem;
      // height: auto;
      // overflow-x: auto;
      tbody{
  
        tr{
          // border: 1px solid black; 
  
          td{
            border-top: 2px solid $dark-blue;
            // border-top: 1px solid $primary-color;
            padding: 2rem 1rem;
          }
          td:nth-child(1){
            .product-details{
              // background-color: aqua;
              display: flex;
              align-items: center;
              // padding: 1rem;
              justify-content: space-between;
              width: auto;
              
            }
          }
        }
      }
    }
  }
}


