@use "../base/colors.scss" as *;
@use "../base/sizes.scss" as sizes;
.carrinho-container{
  display: flex;
  padding-left: 3rem;
  table{
    border-collapse: collapse;
    // border: 1px solid black;
    width: 60%;
    margin: 1rem;
    height: auto;
    thead{
      tr{
        // border: 1px solid red;
        // border: 1px solid black;

        th{
          color: #878787a1;
          font-weight: 700;
        }
        th:nth-child(1){
          text-align: start;
          padding-left: .4rem;
        }
      }
    }
    tbody{

      tr{
        // border: 1px solid black; 

        td{
          border-top: 1px solid black;
          // border-top: 1px solid $primary-color;
          padding: 2rem 1rem;
        }
        td:nth-child(1){
          .product-details{
            // background-color: aqua;
            display: flex;
            align-items: center;
            // padding: 1rem;
            justify-content: space-between;
            width: 37rem;
            .img-item{
              width: 4rem;
              height: 4rem;
              // margin-right: 3rem;
            }
            .names-product{
              display: flex;
              flex-direction: column;
              gap: 5px;
              width: 14rem;
              span:nth-child(1){
                color: $brands;
              }
              span:nth-child(2){
                // color: $brands;
                font-weight: bold;
              }
            }

          }
        }
        td:nth-child(2),td:nth-child(3){
          text-align: center;
        }
      }
    }
  }

    .purchase{
      position: absolute;
      right: 10rem;
      top: 11rem;
      background-color: lightgray;
      width: 17rem;
      padding: 1rem;
      border-radius: sizes.$radius;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: .2rem;
      }
      div:nth-child(2){
        padding-top: 1rem;
        border-top: 1px solid black;
      }

      button{
        padding: 1rem;
        border: 1px solid black;
        background-color: transparent;
        text-transform: uppercase;
        border-radius: sizes.$radius;
        font-weight: bold;
        transition: all .3s;
        cursor: pointer;
      }
      button:hover{
        background-color: black;
        color: lightgray;
      }
    }
  
  
}