@use "../base/sizes.scss" as sizes;
@use "../base/colors.scss" as *;
@use "../components/buttons.scss";
.container-produtos{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid-layout{
    display: grid;
    width: 80rem;
    // border: 1px solid red;
    grid-template-columns: repeat(4,auto);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    // gap: 1rem;
    // border: 10px solid yellow;
    .produto{
      margin: 1rem;
      width: 14.6rem;
      height: 26.9rem;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: sizes.$radius;
      .img-container{
        // border: 1px solid blue;
        width: 12rem;
        height: 12rem;
        margin-bottom: .5rem;
        img{
          width: 11rem;
          height: 11rem;
        }
      }

      .all-details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10rem;
        .details{
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          gap: .2rem;

          span:nth-child(1){
            color: $brands;
          }
  
          span:nth-child(2){
            color: $primary-color;
            font-weight: bold;
            font-size: 20px;
          }
  
          span:nth-child(3){
            font-size: 18px;
            color: $primary-color;
            margin-top: .4rem;
          }
  
          button{
            bottom: 0;
          }
        }
      }

    }
  }
}


/* CSS */


@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}