@use "../base/sizes.scss" as sizes;
@use "../base/colors.scss" as *;
@use "../components/buttons.scss";
.container-produtos{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;

  .filtros{
    /* Estilo do botão */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Estilo dos inputs do dropdown */
.dropdown-content input {
  margin: 10px;
}

/* Estilo dos labels do dropdown */
.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Muda a cor dos labels ao passar o mouse */
.dropdown-content label:hover {
  background-color: #ddd;
}

/* Mostra o conteúdo do dropdown ao clicar no botão */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Muda a cor do botão ao passar o mouse */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

  }

  .grid-layout{
    display: grid;
    width: 80rem;
    
    // border: 1px solid red;
    grid-template-columns: repeat(auto-fit,14.6rem);
    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    gap: 1rem;
    padding-top: 1rem;
    justify-content: center;
    // justify-items: center;
    // border: 10px solid yellow;
    .produto{
      // margin: 1rem;
      width: 14.6rem;
      // height: 23rem;
      background-color:$cian ;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      padding-top: 1rem ;
      border-radius: sizes.$radius;
      .img-container{
        // border: 1px solid blue;
        position: relative;
        // width: 12rem;
        // height: 12rem;
        // margin-bottom: .5rem;
        img{
          width: 11rem;
          height: 11rem;
        }

        .main-image{
          transition: opacity 0.2s ease-in-out; /* Adiciona uma transição suave */
        }

        .box-image{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; /* Inicialmente, a imagem hover está invisível */
          transition: opacity 0.2s ease-in-out; /* Adiciona uma transição suave */
        }
      }

      .img-container:hover{
        .box-image{
          opacity: 1;
        }
        .main-image{
          opacity: 0;
        }
      }

      .all-details{
        background-color: $orange;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10rem;
        padding: 0 .2rem .2rem .2rem;
        align-items: center;
        width: 100%;
        border-radius:  0 0 sizes.$radius sizes.$radius;
        
        .details{
          // border: 1px solid red;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          width: 100%;
          gap: .2rem;
          position: relative;
          // border: 1px solid white;
          height: 6.4rem;

          span:nth-child(1){
            color: $brands;
          }
  
          span:nth-child(2){
            color: $bg-color;
            font-weight: bold;
            font-size: 20px;
          }
  
          span:nth-child(3){
            position: absolute;
            font-size: 18px;
            color: $dark-blue;
            margin-top: .4rem;
            bottom: 0;
          }
  
          
          // button{
          //   border: 1px solid red;
          // }
        }
      }

    }
  }
}


/* CSS */


@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}